#calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  #display {
    width: 194px;
    height: 50px;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid gray;
    background-color: #f4f4f4;
  }
  #buttons {
    width: 194px;
    height: 200px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid gray;
  }
  #buttons button {
    width: 42px;
    height: 42px;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    border: 1px solid gray;
    background-color: #fff;
  }
  #buttons button:hover {
    background-color: #ddd;
  }
  
